{% extends "base.html" %}
{% load pygmentize %}
{% load django_bootstrap5 %}

{% block extraheader %}
  <style>{% pygments_css %}</style>
{% endblock %}

{% block body %}
{% include "base_nav.html" %}
  <main>
    <div class="container">
      <h2>{{ snippet.title }} by {{ snippet.created_by.username }}</h2>
      <div class="snippet-date">
        投稿日: {{ snippet.created_at|date:"DATETIME_FORMAT" }}
        {% if user.is_authenticated and snippet.created_by_id == user.id %}
          <a href="{% url 'snippet_edit' snippet.id %}">編集</a>
        {% endif %}
      </div>

      <div class="source-code">
        {{ snippet.code|pygmentize:"python3" }}
        <!-- <pre>{{ snippet.code }}</pre> -->
      </div>
      <p>{{ snippet.description }}</p>

      <div class="comments">
        <h3>コメント一覧</h3>
        {% if not comments %}
          <p>コメントはまだ投稿されていません</p>
        {% else %}
            {% for comment in comments %}
            <div class="comment">
              <p>{{ comment.text }}</p>
              <small>by {{ comment.commented_by }}さん {{ comment.commented_at|date:"DATETIME_FORMAT" }}</small>
            </div>
            {% endfor %}
        {% endif %}
        <h3>コメントを投稿する</h3>
        <form method="post" action="{% url 'comment_new' snippet.id %}">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" content="コメント" %}
        </form>
      </div>
    </div>
  </main>
{% endblock %}

